<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta básicos -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Descripción de tu sitio" />
    <meta name="author" content="Tu nombre" />
    <title>Mi Mini Biblioteca</title>

    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="styles.css" />


</head>

<body>

    <header>
        <h1>Mi Mini Biblioteca </h1>
    </header>

    <main>
            {% if page_obj.has_previous %}
                <a href="?query_search={{ query }}&page=1">Primera</a>
                <a href="?query_search={{ query }}&page={{ page_obj.previous_page_number }}">Anterior</a>

            {% endif %}
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?query_search={{ query }}&page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?query_search={{ query }}&page={{ page_obj.paginator.num_pages }}">Última</a>

            {% endif %}

        <form method="get">
            <label for="author">Filtrar por autor:</label>
            <input type="text" id="author" name="query_search" placeholder="Nombre del autor o titulo " value="{%if query%}{{query}}{%endif%}"/>
            <input type="date" name="start" value="{{request.GET.start}}" />
            <input type="date" name="end" value="{{request.GET.end}}" />
            <button type="submit">Enviar</button>
        </form>
         <ul>
            {% for book in page_obj %}
                <li>{{ book.title }} - {{ book.author }} - {{ book.publication_date }}</li>
                {% empty %}
                <li>No hay libros disponibles.</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <!-- cantitad de la pagina -->
        <small>{{author}}</small>
    </footer>

    <script src="app.js"></script>

</body>
</html>
