# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Environments
venv/
env/
.venv/
ENV/

# Django
*.db
*.sqlite3
*.log
media/
staticfiles/
*.pot
*.py[cod]
__pycache__/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
